* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    z-index: 3;
    padding: 10px 50px;
    /* height: 80px; */
    width: 100%;
    background-color: #00d084;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    flex-wrap: wrap;
}

#header-icon{
    display: none;
    color: chocolate;
}
.menu {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menuhomepage a {
    color: chocolate;
}

.home-backbutton:hover {
    color: chocolate;
}

.fa-spoon {
    color: rgb(255, 123, 0);
}

.logo {
    font-size: 40px;
    font-style: italic;
    margin-left: 30px;
}

li {
    display: inline;
    padding-left: 0px;
    font-weight: 600;
    padding-right: 50px;
}


.srch {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    border-radius: 25px;
}

.inputbox1 {
    background-color: aliceblue;
    padding: 10px;
    border: 0px;
    border-radius: 25px;
}

.bthn {
    padding: 10px;
    border: 0px;
    background-color: rgb(203, 214, 223);
    border-radius: 25px;
}

.about {
    color: chocolate
}

header a {
    text-decoration: none;
    color: black;
}

.container1 a {
    text-decoration: none;
    color: black;

}

header .list-header {
    display: none;
    color: chocolate;
}


@media(max-width:1000px) {
    header nav {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    .srch {
        display: flex;
        flex-direction: row;
        background-color: aliceblue;
        border-radius: 25px;

    }
    .search{
        display: none;
    }
    .inputbox1 {
        background-color: aliceblue;
        padding: 10px;
        border: 0px;
        border-radius: 25px;
        width: 90px;
    }

    header .list-header {
        display: block;
        /* height: 35; */
        background-color: chocolate;
        color: rgb(250, 248, 246);
        /* margin-left: 55%; */
        border-radius: 7px;
        margin-right: 10px;
    }


    .logo {
        display: flex;
        scale: inherit;
    }
    #header-icon {
        display: block;
        /* height: 35; */
        background-color: chocolate;
        color: rgb(250, 248, 246);
        /* margin-left: 55%; */
        border-radius: 7px;
        margin-right: 10px;
    }
}

.elem:hover {
    color: chocolate;
    cursor: pointer;
}

#elem-m:hover {
    color: chocolate;
}

.bannerimg01 {
    position: relative;
    margin-left: 100px;
    bottom: -52px;
    /* height: 200px; */
    width: 200px;
    z-index: 0;
}
.container1 {
    width: 100%;
    background-color: #00d084;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.home-backbutton:hover {
    color: chocolate;
}

.heading01 {
    align-content: center;
    margin-left: 80px;
    /* height: 150px; */
    width: 300px;
    color: black;
}

.heading01 h2 {
    display: flex;
}

.hometoabout {
    display: flex;

    font-weight: 900;
}



/* #######################Cards####################### */

.cards {
    display: flex;
    flex-direction: row;
    /* height: 320px; */
    width: 100%;
    background-color: #ffffff;
    z-index: 2000;
    position: relative;
    top: 270px;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    flex-wrap: wrap
    ;
}

.child-cards {
    height: 250px;
    width: 270px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 3px solid #9e9e9e0f;
    border-radius: 15px;
    flex-wrap: wrap;
}

.cards-elements {
    display: flex;
    justify-content: center;

}

.fa-location-dot,
.fa-phone,
.fa-envelope,
.fa-clock {
    color: chocolate;
}

/* ########################Form############################ */

.form {
    display: flex;
    position: relative;
    top: 80px;
    width: 100%;
    justify-content: space-around;
    position: relative;
    top: 360px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.form-group {
    margin-bottom: 15px;
    width: 1000px;
}
@media (max-width:1200px) {
    .form-group{
        width: 100%;
    }
    form{
        margin-top: 150px;
    }
}
#first2 {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.half {
    flex: 1;
}

.name label {
    display: block;
}

label {
    display: block;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 120px;
    resize: vertical;
}

.button01 {
    background: chocolate;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 40%;
    font-size: 16px;
    position: relative;
    left: 60%;
}

button:hover {
    background: #059669;
    transition: 0.3s ease-in-out;
}

/* ######################Iframe#################### */
.mapembedded {
    position: relative;
    top: 390px;
    width: 100%;
    height: 400px;
}

/* #######################Footer#################### */

.email-updates {
    /* height: 250px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 400px;
    flex-wrap: wrap;
}


.btn-email-container {
    border: 1px solid black;
    padding: 15px;
    border-radius: 0px 25px 25px 0px;
    background-color: chocolate;
    width: 160px;
    font-size: 18px;
}

.placeholder-email {
    padding: 15px;
    width: 400px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 25px 0px 0px 25px;
    outline: none;
}

.placeholder-email:focus {
    border: 2px solid rgb(29, 230, 213);
}

.email-updates h2 {
    width: 600px;
    font-size: 45px;
    text-align: center;
}

.btn-email-container:hover {

    cursor: pointer;
}

footer {
    width: 100%;
    /* height: 300px; */
    position: relative;
    top: 400px;
}

.chleft-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    width: 400px;
    padding-top: 50px;
    margin-left: 100px;
}

.chright-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    width: 400px;
    padding-top: 50px;
    margin-left: 100px;
}

.span-footer {
    display: flex;
}

footer div {
    display: flex;
}