* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    z-index: 3;
    padding: 10px 50px;
    /* height: 80px; */
    width: 100%;
    background-color: #00d084;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    flex-wrap: wrap;
}

.menu {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menuhomepage a {
    color: chocolate;
}

.home-backbutton:hover {
    color: chocolate;
}

.fa-spoon {
    color: rgb(255, 123, 0);
}

.logo {
    font-size: 40px;
    font-style: italic;
    margin-left: 30px;
}

li {
    display: inline;
    padding-left: 0px;
    font-weight: 600;
    padding-right: 50px;
}


.srch {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    border-radius: 25px;
}

.inputbox1 {
    background-color: aliceblue;
    padding: 10px;
    border: 0px;
    border-radius: 25px;
}

.bthn {
    padding: 10px;
    border: 0px;
    background-color: rgb(203, 214, 223);
    border-radius: 25px;
}

.about {
    color: chocolate
}

header a {
    text-decoration: none;
    color: black;
}

.container1 a {
    text-decoration: none;
    color: black;

}

header .list-header {
    display: none;
    color: chocolate;
}


@media(max-width:1000px) {
    header nav {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    .srch {
        display: flex;
        flex-direction: row;
        background-color: aliceblue;
        border-radius: 25px;

    }
    .search{
        display: none;
    }
    .inputbox1 {
        background-color: aliceblue;
        padding: 10px;
        border: 0px;
        border-radius: 25px;
        width: 90px;
    }

    header .list-header {
        display: block;
        /* height: 35; */
        background-color: chocolate;
        color: rgb(250, 248, 246);
        /* margin-left: 55%; */
        border-radius: 7px;
        margin-right: 10px;
    }


    .logo {
        display: flex;
        scale: inherit;
    }
}

.elem:hover {
    color: chocolate;
    cursor: pointer;
}

#elem-m:hover {
    color: chocolate;
}

/* ##################################home and desc */

.container1 {
    /* height: 200px; */
    width: 100%;
    background-color: #00d084;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

/* 
@media (max-width:1000px) {
    .container1 {
        flex-direction: column;
        width: auto;
    }

} */

.home-backbutton:hover {
    color: chocolate;
}

.heading01 {
    align-content: center;
    margin-left: 80px;
    /* height: 150px; */
    width: 300px;
    color: black;
}

.heading01 h2 {
    display: flex;
}

.hometoabout {
    display: flex;

    font-weight: 900;
}

.bannerimg01 {
    position: relative;
    margin-left: 100px;
    bottom: -52px;
    /* height: 200px; */
    width: 200px;
}

.imagebanner2 {
    /* height: 200px; */
    width: 200px;
}

.bannerimg01 {
    z-index: 0;
}

/* ############################Continer 2################################# */
.container2 {
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu-co2 {
    position: relative;
    top: 50px;
    left: 60px;
}

.cards-parent {
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative;
    top: 80px;
    gap: 10px;
    margin-left: 70px;
}

.cards-child {
    display: flex;
    /* height: 150px; */
    background-color: #fff;
    border-radius: 15px;
    border-left: 4px solid chocolate;
    border-bottom: 1px solid rgba(18, 18, 18, 0.171);
    border-right: 1px solid rgba(18, 18, 18, 0.171);
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.cards-child img {
    display: flex;
    align-self: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-left: 30px;
}

.heading-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.hhhp {
    display: flex;
    flex-direction: row;
    padding-right: 150px;
}

.btn {

    border: 1px solid black;
    padding: 12px 18px;
    border-radius: 25px 25px 25px 25px;
    color: #ffff;
    background-color: chocolate;
    width: auto;
    font-size: 18px;
    display: flex;
}

.heading-desc h1 {
    position: relative;
}

.cards-child:hover {
    transform: translateY(-2px);
    transition-delay: all 0.3s ease;
}

h1:hover {
    color: red;
}

.heading-desc h1 a {
    text-decoration: none;
    color: black;
}

.heading01 h1 {
    text-decoration: none;
    color: black;
}

.heading-desc h1 a:hover {
    color: red;
    border-bottom: 2px solid red;
}

/* ##############################FOOTER#################################### */

.email-updates {
    /* height: 250px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
}


.btn-email-container {
    border: 1px solid black;
    padding: 15px;
    border-radius: 0px 25px 25px 0px;
    background-color: chocolate;
    width: 160px;
    font-size: 18px;
}

.placeholder-email {
    padding: 15px;
    width: 400px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 25px 0px 0px 25px;
    outline: none;
}
@media (max-width:1000px) {
    .email-updates{
        width: auto;
    }
    .placeholder-email{
        width: 300px;
    }
    .btn-email-container{
        width: 100px;
    }
    .email-updates h2{
        font-size: 30px;
    }
}
.placeholder-email:focus {
    border: 2px solid rgb(29, 230, 213);
}

.email-updates h2 {
    width: 600px;
    font-size: 45px;
    text-align: center;
}

.btn-email-container:hover {

    cursor: pointer;
}

footer {
    width: 100%;
    /* height: 300px; */
    position: relative;
    top: 200px;
}

.chleft-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    width: 400px;
    padding-top: 50px;
    margin-left: 100px;
}

.chright-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    width: 400px;
    padding-top: 50px;
    margin-left: 100px;
}

.span-footer {
    display: flex;
}

footer div {
    display: flex;
}

/* .social-icons{
    display: flex;
    flex-direction: row;
} */